<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	<services>
	  <service name="WCF_Files.Service1"
			   behaviorConfiguration="WCF-Files_Behavior">
		<endpoint
		  address="https://localhost:7777/GetDataService.svc" 
		  binding="basicHttpBinding"
		  behaviorConfiguration="authBehaviorConfig"
		  contract="WCF_Files.IGetDataService" 
		  bindingConfiguration="WCF-Files_Config">
		</endpoint>
	  </service>
	</services>
	
	<extensions>
	  <behaviorExtensions>
		<add name="authInspectorBehavior" type="WCF_Files.Behavior.Extensions.AuthBehaviorExtension, WCF-Files, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	  </behaviorExtensions>
	</extensions>
	
	  <bindings>
		<basicHttpBinding>
		  <binding name="WCF-Files_Config">
			<security mode="TransportWithMessageCredential">
			  <message clientCredentialType="UserName"/>
			</security>
		  </binding>
		</basicHttpBinding>
	  </bindings>
		
    <behaviors>
	  <endpointBehaviors>
		<behavior name="authBehaviorConfig">
		  <authInspectorBehavior/>
		</behavior>
	  </endpointBehaviors>
	  
      <serviceBehaviors>
        <behavior name="WCF-Files_Behavior">
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="https://localhost:7777/GetDataService"/>
          <!-- Чтобы получать сведения об исключении при сбоях для отладки, следует установить значение True для указанного ниже параметра. Следует установить значение False для этого параметра перед развертыванием, чтобы не допустить раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
		  
		  <serviceCredentials>
			<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WCF_Files.App_Code.Authentication.CustomValidator,App_Code/Authentication"/>
		  </serviceCredentials>
		
        </behavior>
      </serviceBehaviors>
    </behaviors>
	
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
